
  <div class="page-header">
        <h1>地域</h1>
  </div>
  
 <h2>照会</h2>

<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      <th>項目</th>
      <th>内容</th>
    </tr>
  </thead>

  <tbody>
  	<tr>
  		<td>地域名</td>
  		<td><%= @area.name %></td>
  	</tr>
  	  	<tr>
  		<td>備考</td>
    		<td><%= @area.memo %></td>
    	</tr>
  	</tr>
  </tbody>
</table>

<%= link_to '編集', edit_area_path(@area)  ,{:class => "btn btn-primary btn"} %>
<% p area_path %>
<%= link_to t('.cancel', :default => t("戻る")), areas_path, :class => 'btn btn-default btn' %>
